/* colors */
/* font */
/* .flex.even-columns > * {
  width: 100%;
} */
.primary-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1rem; }

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  margin-block: 2rem;
  display: flex;
  gap: 1rem; }
  .primary-navigation a {
    text-decoration: none;
    color: white; }

.mobile-nav-toggle {
  display: none; }

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block; }

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

:root {
  font-family: "Nunito", sans-serif; }

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-family: "Nunito", sans-serif; }

body {
  background-color: #2b2e34;
  color: #afc0e2;
  line-height: 1.5;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden; }

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  text-align: center;
  place-items: center; }

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem; }

.maintitle {
  text-align: center; }
  .maintitle h1 {
    font-size: calc(clamp(2rem, 3vw + 1rem, 9rem));
    color: white; }
    .maintitle h1 p {
      color: #afc0e2;
      font-size: calc(clamp(1rem, 3vw + 1rem, 4rem)); }

.card {
  background-color: #0d1423;
  height: calc(clamp(30rem, 8vh+1rem ,40rem));
  width: calc(clamp(26rem, 8vw+1rem ,32rem));
  text-align: center;
  border-radius: 5px; }

.cardsection {
  display: flex;
  justify-content: space-between; }

.companyname {
  color: #00c2ff;
  font-size: 1.5rem;
  font-weight: 600; }
  .companyname span {
    color: blue; }

.robotimage {
  background-position: center bottom;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

@media (max-width: 35em) {
  .cardsection {
    flex-direction: column; } }
