/* colors */
$color-primarydark: #2b2e34;
$color-secondary: #0d1423;
$color-accent: blue;
$color-accent2: #00c2ff;
$color-white: white;
$color-text: #afc0e2;

/* font */
$fontweights: (
  "light": 300,
  "regular": 500,
  "bold": 600
);
$fontsizes: (
  "title": calc(clamp(2rem, 3vw + 1rem, 9rem)),
  "navtitle": 1.5rem,
  "navmenu": 1.5rem,
  "titlecaption": calc(clamp(1rem, 3vw + 1rem, 4rem)),
  "paragraph": 0.75rem
);
// general
$flex: (
  display: flex,
  gap: 1rem
);
/* .flex.even-columns > * {
  width: 100%;
} */
$grid: (
  display: grid,
  gap: 1rem
);
@mixin flex {
  display: flex;
  gap: 1rem;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  @include flex;
}
.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  margin-block: 2rem;
  @include flex;
  a {
    text-decoration: none;
    color: white;
  }
}

.mobile-nav-toggle {
  display: none;
}
/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-family: "Nunito", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: $color-primarydark;
  color: $color-text;
  line-height: 1.5;

  // grid-template-rows: min-content 2fr;
  overflow-x: hidden;
}
.grid-container {
  min-height: 100vh;
  grid-template-rows: minmax(5rem, 30em) minmax(0, 30em) minmax(0, 30em);
  text-align: center;
  place-items: center;
}
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.maintitle {
  text-align: center;
  h1 {
    font-size: map-get($fontsizes, title);
    color: $color-white;
    p {
      color: $color-text;
      font-size: map-get($fontsizes, titlecaption);
    }
  }
}

.card {
  background-color: $color-secondary;
  height: calc(clam(20rem, 8vh+1rem, 25rem));
  width: calc(clam(18rem, 8vw+2rem, 30rem));
  padding-inline: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  align-self: center;
  border-radius: 5px;
  img {
    vertical-align: middle;
    place-items: center;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
  p {
    vertical-align: middle;
    place-items: center;
  }
}
.cardsection {
  display: flex;
  justify-content: space-between;
  margin-block: 5rem;

  column-gap: 2rem;
}
.companyname {
  color: $color-accent2;
  font-size: map-get($fontsizes, navtitle);
  font-weight: map-get($fontweights, bold);
  span {
    color: $color-accent;
  }
}
.robotimage {
  background-position: center bottom;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  align-self: baseline;
  justify-self: end;

  // mobile
  @media (max-width: 35em) {
    .cardsection {
      flex: none;
    }

    .grid-container {
      display: grid;
      grid-template-rows: minmax(0, 20em) minmax(30em, 60em), minmax(30em, 60em);
      // grid-template-rows: min-content 1fr;
      text-align: center;
      place-items: center;
    }
  }
}
// tablet
@media (max-width: 45em) {
  .grid-container {
    display: grid;
    grid-template-rows: minmax(0, 20em) minmax(30em, 60em), minmax(30em, 60em);
    // grid-template-rows: min-content 1fr;
    text-align: center;
    place-items: center;
  }
}
